fastapi
uvicorn
pydantic

jupyterlab
numpy
nltk
detoxify
pandas
scikit-learn

datasets
transformers
torch
evaluate
peft

langchain
pacmap
langchain-community
sentence-transformers
faiss-cpu
langchain-huggingface
plotly
bitsandbytes
