fastapi
uvicorn
pydantic
python-dotenv
boto3
cloutpathlib

numpy
nltk
detoxify
pandas
scikit-learn

datasets
transformers
torch
evaluate
peft

langchain
pacmap
langchain-community
sentence-transformers
faiss-cpu
langchain-huggingface
plotly
bitsandbytes
