jupyterlab
numpy
nltk
detoxify
pandas
tqdm
scikit-learn
matplotlib
countrycode
phonenumbers
spacy
faker

datasets
transformers
torch
evaluate
peft

langchain
pacmap
langchain-community
sentence-transformers
faiss-cpu
langchain-huggingface
plotly
bitsandbytes
